# Replication data of Mueller & Rauh (2022)

The data in this folder was retrieved from the hardvard dataverse page of Mueller & Rauh's paper, see https://doi.org/10.7910/DVN/UX8GUZ

Here we retrieve the main data they inputted to their model to explore how useful the data is for us

In [2]:
# import .dta file
import pandas as pd
import numpy as np

In [3]:
# import the data_info_all_svi.dta file
data = pd.read_stata('data_info_all_svi.dta')

In [9]:
data.head()

,v1,article_id,country,paper,chadefaux_count,uncertainty,ep,year,month,quarter
0,0,1,Bhutan,BBC,0,0,0,2016.0,1.0,1.0
1,1,2,Bhutan,BBC,0,0,0,2016.0,2.0,1.0
2,2,3,Bhutan,BBC,0,0,0,2016.0,2.0,1.0
3,3,4,Bhutan,BBC,0,0,10,2016.0,2.0,1.0
4,4,5,Bhutan,BBC,0,0,0,2016.0,3.0,1.0